.loader {
  animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.locations {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  flex-direction: column;
  color: white;
}
